{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Casa del Adulto Mayor Motavita</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="{% static "materialize/css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
	<style type="text/css">
	.parallax-container {
		height: 60vh;
	}
</style>
</head>
<body>
	<nav class="green darken-3" role="navigation">
		<div class="nav-wrapper">
			<a id="logo-container left" href="/" class="brand-logo red-text accent-4">Casa del Adulto Mayor Motavita</a>
			<ul class="right hide-on-med-and-down">
				{% if user.is_authenticated %}
					<li>Bienvenido/a {{ user.first_name }}</li>
						{%if perms.contenido.add_documento and user.is_superuser %}
							<li><a href="/subirDocumento" class="yellow-text accent-2">Subir Documento</a></li>
						{% endif %}
						{%if perms.contenido.add_mision and perms.contenido.add_vision %}
							<li><a href="/editarConocenos" class="yellow-text accent-2">Editar Conocenos</a></li>
						{% endif %}
						{%if perms.contenido.add_pqr %}
							<li><a href="/crear_pqr" class="yellow-text accent-2">Crear PQR</a></li>
						{% endif %}
						{%if user.is_superuser %}
							<li><a href="/admin" class="yellow-text accent-2">Módulo Admin</a></li>
						{% endif %}
					<li><a href="/salir" class="yellow-text accent-2">Salir</a></li>
				{% else %}
					<li><a href="/ingresar" class="yellow-text accent-2">Ingresar</a></li>
				{% endif %}
			</ul>

			<ul id="nav-mobile" class="side-nav">
				{% if user.is_authenticated %}
					<li class="black-text">Bienvenido/a {{ user.first_name }}</li>
						{%if perms.contenido.add_documento and user.is_superuser %}
							<li><a href="/subirDocumento" class="yellow-text accent-2">Subir Documento</a></li>
						{% endif %}
						{%if perms.contenido.add_mision and perms.contenido.add_vision %}
							<li><a href="/editarConocenos" class="yellow-text accent-2">Editar Conocenos</a></li>
						{% endif %}
					<li><a href="/salir" class="yellow-text accent-2">Salir</a></li>
				{% else %}
					<li><a href="/ingresar" class="yellow-text accent-2">Ingresar</a></li>
				{% endif %}
			</ul>

			<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	</nav>

{% block parallax %}
	<div id="index-banner" class="parallax-container">
		<div class="section no-pad-bot">
			<div class="container">
				<br><br>
				<h1 class="header center yellow-text accent-2">Casa del Adulto Mayor de Motavita</h1>
				<div class="row center">
					<h5 class="header col s12 light white-text">Bienvenido al Centro de Vida Casa Bienestar del Anciano de Motavita</h5>
				</div>
				<div class="row center">
				{% if not user.is_authenticated %}
					<a href="/ingresar" id="download-button" class="btn-large waves-effect green darken-3 waves-light teal lighten-1">Ingresar</a>
				{% endif %}
				</div>
				<br><br>
			</div>
		</div>
		<div class="parallax"><img src="{% static "img/fondo.jpg" %}" alt="Unsplashed background img 1"></div>
	</div>
{% endblock parallax %}

	{% block content %}

	{% endblock content %}

	<footer class="page-footer teal">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Centro de Vida Casa Bienestar del Anciano de Motavita</h5>
					<p class="grey-text text-lighten-4">Cel. 3212486965</p>
					<p class="grey-text text-lighten-4">Cel. 3108771743</p>
				</div>
				<!--
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				-->
				<div class="col l3 s12">
					<ul>
						<li><a class="white-text" href="/pqr">Preguntas/Quejas/Reclamos</a></li>
						<li><a class="white-text" href="/legalidad">Legalidad</a></li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				Derechos de Autor Centro de Vida Casa Bienestar del Anciano de Motavita. 2015. Todos los derechos reservados.
			</div>
		</div>
	</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.parallax').parallax();
			$(".button-collapse").sideNav();
		});
	</script>

</body>
</html>