{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
	.parallax-container {
		height: 60vh;
	}

	.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	}
</style>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
{{ form1.media }}

	<div class="row">
		<h3 class="center">Conócenos</h3>
		<div class="col s12">
		{% if form1 and form2 and form3 %}
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="input-field col s12">
				<h5>Misión</h5>
				{{ form1.errors }}
				{{ form1.mision }}
			</div>
			<div class="input-field col s12">
				<h5>Visión</h5>
				{{ form2.errors }}
				{{ form2.vision }}
			</div>
			<div class="input-field col s12">
				<h5>Historia</h5>
				{{ form3.errors }}
				{{ form3.historia }}
			</div>
			<button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Enviar
    			<i class="material-icons right">send</i>
  			</button>
		</form>
		{% endif %}

		{% if mision and vision and historia %}
			<div class="container">
				<div class="row">
					<div class="col s7">
						{{ mision.mision|safe }}
					</div>
				</div>
				<div class="row">
					<div class="col s6">
						{{ vision.vision|safe }}
					</div>
					<div class="col s6">
						<div class="slider">
							<ul class="slides">
								<li>
									<img src="{% static "img/1.jpg" %}" alt="Unsplashed background img 1" class="rotate90"> <!-- random image -->
									<div class="caption center-align">
										<h3>Talleres!</h3>
										<h5 class="light grey-text text-lighten-3">De fomento del ejercicio y la recreación.</h5>
									</div>
								</li>
								<li>
									<img src="{% static "img/2.jpg" %}" alt="Unsplashed background img 1"> <!-- random image -->
									<div class="caption left-align">
										<h3>Talleres de desarrollo personal</h3>
										<h5 class="light grey-text text-lighten-3">Fomentando el envejecimiento saludable.</h5>
									</div>
								</li>
								<li>
									<img src="{% static "img/3.jpg" %}" alt="Unsplashed background img 1" class="rotate90"> <!-- random image -->
									<div class="caption right-align">
										<h3>Taller de folklore</h3>
										<h5 class="light grey-text text-lighten-3">Guitarra, pintura, teatro y baile</h5>
									</div>
								</li>
								<li>
									<img src="{% static "img/4.jpg" %}" alt="Unsplashed background img 1"> <!-- random image -->
									<div class="caption center-align">
										<h3>Encuentros recreativos!</h3>
										<h5 class="light grey-text text-lighten-3">Caminatas y actividades al aire libre.</h5>
									</div>
								</li>
							</ul>
	</div>
		</div>
				</div>
				<div class="row">
					<div class="col s7">
						{{ historia.historia|safe }}
					</div>
				</div>
			</div>
		{% endif %}
		</div>
	</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static "materialize/js/materialize.js" %}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.parallax').parallax();
			$(".button-collapse").sideNav();
			$('.slider').slider();
		});
	</script>

{% endblock content %}