{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
	.parallax-container {
		height: 60vh;
	}
</style>

	<div class="row">
		<div class="col s8">
		<h3 class="center">Crear/Editar PQR</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.titulo.errors }}
			<div class="input-field col s12">
				{{ form.titulo }}
				{{ form.titulo.label_tag }}
			</div>
			{{ form.respuesta.errors }}
			<div class="input-field col s12">
				{{ form.respuesta }}
				{{ form.respuesta.label_tag }}
			</div>
			<button class="btn waves-effect waves-light green darken-3" type="submit" name="action">Enviar
    			<i class="material-icons right">send</i>
  			</button>
		</form>
		</div>
		<div class="col s4">
			<h5 class="center">Últimas PQR</h5>
			<div class="row">
				{% for i in pqr %}
				<div class="col card-panel s3">
						<span class="white-text">
							<a class="tooltipped" data-position="bottom" data-delay="30" data-tooltip="{{ i.titulo }}" >{{ i.titulo|truncatechars:12 }}</a>
							{%if perms.contenido.change_pqr %}
							<div class="row">
								<div class="col s6">
									<a class="" href="/editar_pqr/{{i.id}}"> <i class="small material-icons yellow-text accent-2">border_color</i> </a>
								</div>
								<div class="col s6">
									<a class="" href="/eliminar_pqr/{{i.id}}"> <i class="small material-icons red-text accent-4">delete</i> </a>
								</div>
							</div>
							{% endif %}
						</span>
					</div>
			{% endfor %}
			</div>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
			$('textarea').addClass('materialize-textarea');
			$('.parallax').parallax();
			$(".button-collapse").sideNav();
			$('.slider').slider();
		});
</script>

{% endblock content %}