{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<style type="text/css">
	html, body { height: 60%; margin: 0; padding: 0; }
	#map { height: 200%; width: 60%;}
</style>

<style type="text/css">
	.parallax-container {
		height: 60vh;
	}
</style>

<h3 class="center">Servicios</h3>
<div class="container">
	<div class="row">
		<div class="row">
			<div class="col s12">
				<ul class="tabs">
					<li class="tab col s3"><a class="active red-text accent-4" href="#talleres">Talleres</a></li>
					<li class="tab col s3"><a class="red-text accent-4" href="#atencion">Área de Atención al Cliente</a></li>
					<li class="tab col s3"><a class="red-text accent-4" href="#infraestructura">Infraestrutura Física</a></li>
				</ul>
			</div>
			<div id="talleres" class="col s12">
				<br>
				<div class="row">
					<div class="col s8 center">
      					Talleres de desarrollo de habilidades motrices: Manualidades, pintura, decoración, actividades que puedan desarrollarse desde un solo lugar y que no impliquen desplazamientos largos o que necesiten de acompañante, así el adulto mayor se siente acompañado y puede compartir sus conocimientos más fraternalmente con otros.	
      				</div>
      				<div class="col s4 center">
      					<img src="{% static "img/1.jpg" %}" width="80%" height="80%">
      				</div>
				</div>
      			<div class="row">
      				<div class="col s4 center">
      					<img src="{% static "img/background1.jpg" %}" width="80%" height="80%">
      				</div>
      				<div class="col s8 center">
      				Talleres de fomento del ejercicio y la recreación.
      				</div>
      			</div>

      			<div class="row">
      				<div class="col s8 center">
      				Taller de gimnasia, encuentros recreativos, caminatas y actividades al aire libre, visitas en las aguas termales, turismo terrestre y fluvial, lo ideal es que sean rutas cercanas y que haya acceso fácil y seguro, eventos masivos que involucren a familiares y amigos.
      				</div>
      				<div class="col s4 center">
      					<img src="{% static "img/4.jpg" %}" width="50%" height="50%">
      				</div>
      			</div>

      			<div class="row">
      				<div class="col s4 center">
      					<img src="{% static "img/2.jpg" %}" width="50%" height="50%">
      				</div>
      				<div class="col s8 center">
      					Talleres de desarrollo cultural y de expresión artística: estos talleres pretenden motivar a en adultos mayores la creatividad y desarrollo de sus habilidades artísticas.
      				</div>
      			</div>

      			<div class="row">
      				<div class="col s8 center">
      					Taller de folklore, de guitarra, de pintura, de teatro y baile.
      				</div>
      				<div class="col s4 center">
      					<img src="{% static "img/3.jpg" %}" width="80%" height="80%">
      				</div>
      			</div>

      			<div class="row">
      				<div class="col s4 center">
      					<img src="{% static "img/8.jpg" %}" width="40%" height="40%">
      				</div>
      				<div class="col s8 center">
      					Talleres de desarrollo y autocuidado: esta área de trabajo requiere fomentar el envejecimiento saludable, fortalecimiento la autoimagen y la valorización de aptitudes y habilidades, reconociendo las propias dificultades, buscando las formas de resolución de las mismas.
      				</div>
      			</div>

      			<div class="row">
      				<div class="col s8 center">
      					Talleres de desarrollo personal.
      				</div>
      				<div class="col s4 center">
      					<img src="{% static "img/5.jpg" %}" width="40%" height="40%">
      				</div>
      			</div>
    			
			</div>
			<div id="atencion" class="col s12">
				<ul class="collection">
      				<li class="collection-item">Medico a través de la ESE de Motavita.</li>
      				<li class="collection-item">Odontólogo de la ESE de Motavita.</li>
      				<li class="collection-item">Atención de enfermería las 24 horas.</li>
      				<li class="collection-item">Servicio de terapia física.</li>
      				<li class="collection-item">Servicios generales.</li>
      				<li class="collection-item">Ambulancia de la ESE de Motavita.</li>
      				<li class="collection-item">Servicio de restaurante.</li>
      				<li class="collection-item">Servicio de alojamiento.</li>
      				<li class="collection-item">Servicio de lavandería.</li>
      				<li class="collection-item">Atención psicológica.</li>
      				<li class="collection-item">Atención en trabajo social.</li>
      				<li class="collection-item">Se presentan actividades de promoción y prevención en brigadas de Salud.</li>
    			</ul>
			</div>
			<div id="infraestructura" class="col s12">
				<ul class="collection">
      				<li class="collection-item">El Centro de Vida Casa Bienestar el Anciano de Motavita, cuenta con instalaciones organizadas pensando en la satisfacción del adulto mayor, como área de cocina, área de lavandería, sala, comedor, habitaciones con baño, pabellón de hombres y mujeres, unidades sanitarias, capilla, zonas verdes, área de atención para enfermería, y atención médica, salón de eventos sociales, zona recreación.</li>
    			</ul>
			</div>
		</div>
	</div>
</div>
</script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.parallax').parallax();
		$('ul.tabs').tabs();
	});
</script>
{% endblock content %}

</body>
</html>